.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.App-header {
  background-color: rgb(46, 24, 70);
  flex: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  text-align: center;
  flex: 1;
  margin-top: 0px;
  padding: 10px;
  font-size: 12px;
  background-color: rgb(46, 24, 70);
  color: #a49f9f;
}

.App-footer a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.user-input,
.user-select {
  margin: 0 5px;
  flex-grow: 1;
  /* Adjust the following to ensure inputs have the correct size */
  min-width: 0;
  /* Prevent flex items from growing too large */
}

.prompt-input {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  /* Include padding and border in the element's total width and height */
}

.generated-text {
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  border: 2px solid rgb(74, 40, 110);
  border-radius: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  text-align: justify;
}

.generated-text h3 {
  text-align: center;
  margin-top: 0;
}

.result-image-wrapper {
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  border: 2px solid rgb(74, 40, 110);
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 5px;
}

.result-image-wrapper h3 {
  text-align: center;
  margin-top: 0;
}

.password-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10%;
  z-index: 2;
}

.password-input {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}

.loading-text {
  animation: blink 1.5s linear infinite;
}