.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

@keyframes fadeInOut {

  0%,
  100% {
    opacity: 0.05;
  }

  50% {
    opacity: 0.4;
    filter: box-shadow(0 0 20px rgb(7, 147, 35, 0.7));
  }
}

/* For Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* For IE, Edge, and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.img-container {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: end;
  justify-content: flex-end;
}

.tarot-star {
  position: fixed;
  bottom: 6.4%;
  right: 16.5%;
  z-index: 2;
  animation: fadeInOut 5s infinite;
  width: 5%;
  height: auto;
}

.bottom-right-image {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30%;
  height: auto;
  z-index: 1;
}

.App-header {
  background-color: rgb(46, 24, 70);
  flex: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.tarot-cards-container {
  position: relative;
  /* or absolute, fixed, sticky based on your layout needs */
  z-index: 2;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  text-align: center;
  flex: 1;
  margin-top: 0px;
  padding: 10px;
  font-size: 12px;
  background-color: rgb(46, 24, 70);
  color: #a49f9f;
}

.App-footer a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  z-index: 2;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  z-index: 2;
}

.container h2 {
  margin-bottom: 20px;
}

.user-input,
.user-select {
  margin: 0 5px;
  flex-grow: 1;
  min-width: 0;
  z-index: 2;

}

.prompt-input {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  z-index: 2;

}

.generated-text {
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  border: 2px solid rgb(74, 40, 110);
  border-radius: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  text-align: justify;
}

.generated-text h3 {
  text-align: center;
  margin-top: 0;
  z-index: 2;

}

.result-image-wrapper {
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  border: 2px solid rgb(74, 40, 110);
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 5px;
  z-index: 2;
}

.result-image-wrapper h3 {
  text-align: center;
  margin-top: 0;
  z-index: 2;

}

.password-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.password-info {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 15px;
  margin-top: 0px;
  padding: 8px;
  border-radius: 10px;

}

.password-info a {
  color: #248dfd;
  text-decoration: none;

}


.password-input {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 0px;
  box-shadow: 0 0 20px #000000, 0 0 5px #ffffff;

}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}

.loading-text {
  animation: blink 1.5s linear infinite;
  z-index: 2;
}

.tarot-cards {
  display: flex;
  justify-content: center;
  gap: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tarot-cards div {
  text-align: center;
  width: 150px;
  margin: 0 auto;
}

.tarot-cards img {
  width: 120px;
  height: auto;

  display: block;
  margin: 0 auto;
}

.tarot-cards h5 {
  font-size: 0.7em;
  margin: 2px 0;
}

.card-animation {
  backface-visibility: hidden;
  opacity: 0;
  transform: rotateY(90deg);
  animation: flipIn 1s ease-in-out forwards;
}

@keyframes flipIn {
  from {
    transform: rotateY(90deg);
    opacity: 0;
  }

  to {
    transform: rotateY(0);
    opacity: 1;
  }
}

.card-delay-1 {
  animation-delay: 0.5s;
}

.card-delay-2 {
  animation-delay: 1s;
}

.card-delay-3 {
  animation-delay: 1.5s;
}



.button-design {
  margin-top: 0px;
  padding: 10px 15px;
  background-color: hsl(211, 100%, 50%);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  z-index: 2;
}

.button-design:hover {
  background-color: rgb(56, 150, 109);
  animation: shadowPulse 3s infinite;
  /* Apply the animation */

}

@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 5px #ff0000, 0 0 5px #3b203b;
  }

  50% {
    box-shadow: 0 0 15px #ff0000, 0 0 15px #3b203b;
    /* Bigger shadow */
  }

  100% {
    box-shadow: 0 0 5px #ff0000, 0 0 5px #3b203b;
  }
}

.button-design:disabled {
  background-color: #cccccc;
  /* Grayed out when disabled */
  cursor: default;
  z-index: 2;
}

.user-input,
.user-select,
#birth-date-time,
.prompt-input {
  padding: 5px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 0px;
  resize: none;
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
}

.user-input:focus,
#birth-date-time:focus,
.user-select:focus,
.prompt-input:focus {
  border-color: hsl(0, 0%, 0%);
  outline: none;
  box-shadow: 0 0 0 3px rgba(138, 153, 171, 0.4);
}

/* Additional styling specifically for the select dropdown */
.user-select {
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

/* Style adjustments for the textarea */
.prompt-input {
  width: 99%;
  box-sizing: border-box;
  min-height: 100px;
}